a{
    text-decoration: none;
    color: black;
}
li{
    padding: 10px;
    padding-inline: 0;
}
body{
    margin: 0;
}
h1{
    margin: 0;
}
img{
    margin: 0;
    float: left;
}
.container{
    display: flex;
    height: 100vh;
}
nav{
    margin: 0;
    background-color: red;
    font-family: sans-serif;
    padding: 40px;
    text-align: center;
    
}
.yellow{
    width: 15%;
    background-color: yellow;
    padding: 20px;
    font-family: sans-serif;
    font-weight: bold;
}
.content{
    padding: 50px;
    width: 70%;
}
.pink{
    padding: 20px;

    width: 15%;
    background-color: #fc037f;

}